<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<form action="/registration" method="post">
        <h1 class="h3 mb-5 fw-normal">Please enter data</h1>
        <input type="text" name = "name" placeholder="Name" class="form-control mb-3"><br>
        <input type="text" name = "mail" placeholder="Email" class="form-control mb-3"><br>
        <input type="text" name = "password" placeholder="Password" class="form-control mb-3"><br>
        <button type="submit" class="btn btn-success">Sing in</button>
</form>
</body>
</html>